
<header class="header">

<div class="imageholder">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mongo Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/saved">Saved</a></li>

      </ul>
      <form class="navbar-form navbar-left" action="/scrape" method="GET">
        <div class="form-group">
        </div>
        <button id="getNews" type="submit" class="btn btn-default yellow">Get News!</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

</header>

  <div class="content">

      <div class="articles">
			
			{{#each articles}}
      <div class="panel panel-default border">
      <div class="panel-heading clearfix darkgrey"> 
      <div class="btn-group pull-right">
      
      {{#if saved}}
        <button id="unsaveArticle" class="btn btn-primary btn-sm" data-id="{{_id}}">Unsave</button>
        <button id="addNote" class="btn btn-primary btn-sm" data-id="{{_id}}">Add Note</button>  
      {{else}}
        <button id="saveArticle" class="btn btn-primary btn-sm" data-id="{{_id}}">Bookmark</button>
      {{/if}}

      </div>

      </div>
      <div class="panel-body black">
        <a href="{{link}}">{{title}}</a>
        {{!-- Output summary if a summary exists --}}
          {{#if summary}}
            <p>{{summary}}</p>
          {{/if}}
      </div>
      </div>

      {{/each}}

		</div>

    </div>
  </div>

  <!--Note Modal -->
  <div class="modal fade" id="noteModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Note</h4>
        </div>

        <div class="modal-body" id="note-modal-body">
          
          <form role="form" id="noteform">
          
          <div class="form-group">
            <textarea class="form-control" rows="5" id="noteBody" placeholder="Enter Note Text"></textarea>
          </div>
          </form>
      
        </div>
        <div class="modal-footer" id="note-modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
