<div class='articlelist'>
	{{name}}
	<button class="delete-note" data-id="{{this.id}}">X</button>

	<button class="change-saved" data-id="{{id}}" data-savedstate="{{saved}}">

		{{#if saved}}EAT IT!{{else}}REMAKE!{{/if}}
	</button>

</div>